body { margin: 0; overflow: hidden; background: #000; font-family: 'Courier New', Courier, monospace; }
#game-canvas { width: 100vw; height: 100vh; display: block; }

#crosshair {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8); font-size: 30px; 
    pointer-events: none; z-index: 10;
}

#camera-container {
    position: absolute; top: 20px; right: 20px;
    width: 220px; height: 165px; 
    border: 4px solid #33ff33; /* Minecraft Green Neon Border */
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 4px; overflow: hidden;
    z-index: 100; box-shadow: 0 0 15px rgba(51, 255, 51, 0.5);
}

#debug-canvas { width: 100%; height: 100%; object-fit: cover; }